node_modules
node.exe
.next
out
build
.DS_Store
.env*
!.env.example
prisma/.env
*.log
.vercel
.turbo
dist
.cache
coverage
tsconfig.tsbuildinfo
prisma/dev.db
data/*.json
!.data/.gitkeep

# Sentry Config File
.env.sentry-build-plugin
